.App {
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  text-shadow: 1px 1px beige;
  border: 1px solid lightgray;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 20px 10px 0px 10px;
  max-width: 600px;
}

.App h1 {
  font-weight: bolder;
  padding-left: 32px;
}
.App li {
  list-style-type: none;
}

.App footer {
  font-size: 11px;
}
