.Weather .temperature {
  font-size: 50px;
  line-height: 72px;
  vertical-align: middle;
}

.Weather canvas {
  vertical-align: middle;
}

.Weather .units {
  position: relative;
  top: -15px;
}

a {
  text-decoration: none;
}
